.modal-overlay {
  /*display: none;*/

  transition-property: display, opacity, transform;
  transition-duration: .150s;
  transition-behavior: allow-discrete;

  &.show {
    display: block !important;
    opacity: 1;

  }
}


@starting-style {
  .modal-overlay.show {
    opacity: 0;
  }
}
