.wsp-popup {
  @starting-style {
    opacity: 0;
    display: none;
    transform: translateY(3.5rem);
  }

  transform: translateY(0);
  transition-property: display, opacity, transform;
  transition-duration: .350s;
  transition-behavior: allow-discrete;
}

.wsp-popup.hide {
  display: none;
  transform: translateY(3.5rem);
  opacity: 0;
}

.wsp-popup.show {
  display: block;
  opacity: 1;
}

