.navbar-item {
  @starting-style {
    opacity: 0;
    display: none;
    transform: translateX(-2rem);
  }


  transition-property: display, opacity, transform;
  transition-duration: .5s;
  transition-behavior: allow-discrete;
}

.navbar-item.show {
  display: block;
  opacity: 1;
}

.navbar-item.hide {
  display: none;
  opacity: 0;
}
