<header class="pt-[5px] border-b">
  <div class="px-4 mx-auto max-w-df">
    <div class="h-16 lg:h-[105px] flex items-center gap-4 justify-between">
      <button id="menu-button" type="button" class="lg:hidden" (click)="openSidebarMenu($event)">
        <img src="/icons/menu.svg" alt="menu" class="size-5" />
      </button>
      <a routerLink="/">
        <img
          src="/images/logo.png"
          alt="logo"
          class="size-16 lg:size-[156px] object-contain"
        />
      </a>
      <div class="relative flex-grow hidden lg:block">
        <input
          type="search"
          class="w-full border border-gray-200 rounded-full h-[46px] pl-[15px] pr-[230px]"
          placeholder="Buscar productos..."
        />
        <div #menu>
          <!--          <div>-->
          <button
            type="button"
            class="absolute inset-y-0 right-[45px] h-full px-4 bg-white border border-gray-200 text-[13px] text-[#777777] flex items-center w-44 justify-between"
            (click)="toggleMenu()"
          >
            <span>CATEGORÍAS</span>
            <img src="/icons/rowd.svg" alt="rowd" class="size-3" />
          </button>

          <div class="absolute right-[45px] px-5 py-2 bg-white border
                            border-gray-200 shadow text-[#777777] text-sm
                            uppercase h-[320px] overflow-y-auto
                            scrollbar-thin scrollbar-thumb-gray-300
                            hover:scrollbar-thumb-gray-500
                            scrollbar-track-gray-100 z-10
                            navbar-categories {{ displayMenu  ? 'show' : 'hide' }}">
            <ul class="space-y-2 [&>*>a:hover]:text-primary-600">
              <li *ngFor="let category of categories;">
                <a>{{ category }}</a>
              </li>
            </ul>
          </div>
          <!--          </div>-->
          <div class="absolute inset-y-0 right-0 w-[50px] flex items-center justify-center">
            <img src="/icons/search.svg" alt="search" class="size-5" />
          </div>
        </div>
      </div>
      <div class="inline-flex items-center gap-3 lg:gap-4">
        <button type="button" class="font-bold text-[13px] uppercase" routerLink="/login">
          <span class="hidden lg:block">Ingresar / Registro</span>
          <img
            src="/icons/login.svg"
            alt="login"
            class="size-5 lg:hidden"
          />
        </button>

        <a routerLink="/compare" class="relative hidden lg:block" data-tooltip-target="compare-tooltip"
           data-tooltip-placement="top">
          <span
            class="absolute -top-[3px] -right-[3px] flex items-center justify-center size-3 text-white bg-primary-900 rounded-full text-[9px]">
            0
          </span>
          <img
            src="/icons/compare.svg"
            alt="compare"
            class="size-5"
          />
        </a>
        <app-tooltip [tooltip-id]="'compare-tooltip'" [text]="'Comparar productos'" routerLink="/compare" />
        <button
          data-tooltip-target="cart-tooltip" data-tooltip-placement="top"
          class="inline-flex gap-4">
          <!--          onClick={() => console.log('cartModal = true')}-->

          <div class="relative">
                  <span
                    class="absolute -top-[3px] -right-[3px] flex items-center justify-center size-3 text-white bg-primary-900 rounded-full text-[9px]">
                    0
                  </span>
            <img src="/icons/cart.svg" alt="cart" class="size-5" />
          </div>
          <span class="text-[13px] font-bold hidden lg:block">
                  S/. 0.00
                </span>
        </button>
        <app-tooltip [tooltip-id]="'cart-tooltip'" [text]="'Carrito de compras'" />
      </div>
    </div>
  </div>
</header>
