.item-tab {
  @starting-style {
    opacity: 0;
    display: none;
    transform: translateX(-50%);
  }

  transform: translateX(0);
  transition-property: display, opacity, transform;
  transition-duration: .150s;
  transition-behavior: allow-discrete;
}

.item-tab.show{
  display: block;
}

.item-tab.hide{
  display: none;
}

.demo-class-r {
 margin-right: 1rem;
}
