.navbar-menu {
  @starting-style {
    opacity: 0;
    display: none;
    transform: translateY(2.5rem);
  }


  transform: translateY(0);
  transition-property: display, opacity, transform;
  transition-duration: .150s;
  transition-behavior: allow-discrete;
}

.navbar-menu.show {
  display: block;
  opacity: 1;
}

.navbar-menu.hide {
  display: none;
  opacity: 0;
}
