.product-modal {
  @starting-style {
    opacity: 0;
    display: none;
    transform: translateY(50%);
  }

  transform: translateY(0);
  transition-property: display, opacity, transform;
  transition-duration: .150s;
  transition-behavior: allow-discrete;
}

.product-modal.show {
  display: block !important;
  opacity: 1;
}

.product-modal.hide {
  display: none;
  opacity: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide spin buttons in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
