.cart-modal {
  @starting-style {
    opacity: 0;
    display: none;
    transform: translateX(50%);
  }

  transform: translateX(0);
  transition-property: display, opacity, transform;
  transition-duration: .150s;
  transition-behavior: allow-discrete;
}

.cart-modal.show {
  display: block !important;
  opacity: 1;
}

.cart-modal.hide {
  display: none !important;
  opacity: 0;
}
