@media (max-width: 1366px) {
  .home-container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (min-width: 1367px) {
  .home-container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
