.mobile-item {
  display: none;

  transition-behavior: normal, allow-discrete, normal;
  transition-property: opacity, display, transform;
  transition-duration: .25s;

  &.show {
    transform: translateY(0);
    display: block;
    opacity: 1;
  }
}

@starting-style {
  .mobile-item.show {
    transform: translateY(-2.5rem);
    opacity: 0.3;
  }
}
